* {
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 3rem;
}

.change-grid-size{
        background-color: blue; /* Green */
        border: none;
        color: white;
        padding: 1rem 3rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.6rem;
        border-radius: 1.2rem;
}
.container{
    display: grid;
    justify-content: center;
}

.grid-mother-box{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    justify-content: center;
    height: 400px;
    width: 400px;
}

.grid-box {
    outline: 0.5px black solid;
}

.grid-box-color-change{
    background-color:grey;
}