* {
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}

.grid-mother-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 25rem;
    width: 25rem;
    gap: 0px;
}

.grid-box {
    height: 1.5rem;
    width: 1.5rem;
    border: 0.5px black solid;
}

.grid-box-color-change{
    background-color: aqua;
}